{% extends 'base_templates/index_template.html' %}
{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <main class="base-background min-vh-100">
        <div class="container flex d-flex flex-column justify-content-center min-vh-100 p-5">
            <div class="row p-5">
                <div class="index-logo col-md justify-content-center align-self-center">
                    <a href={{ url_for('index') }}>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/logo_1.png') }}" alt="Logo pic">
                    </a>
                </div>
                <div class="index-title col-md justify-content-center align-self-center">
                    <h1>CIERTO-2 on kaikki mitä tarvitset</h1>
                    <h2>CIERTO-2 se on
                        <span
                                class="txt-rotate"
                                data-period="2000"
                                data-rotate='[ "nopeaa", "kätevää" ]'></span>
                    </h2>

                </div>

            </div>

        </div>

    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}