{% extends 'base_templates/auth_template.html' %}

{% block title %}Cierto-2{% endblock %}



{% block form %}


    <form method="post">
        <div class="form-group">
            <label for="inputPassword" class="form-label base-common-text">Salasana</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>

        <div class="form-group">
            <label for="inputPasswordRetype" class="form-label base-common-text">Salasana uudestaan</label>
            <input type="password" class="form-control" id="inputPasswordRetype" name="passwordretype">

        </div>
        <div class="form-group my-5">
            <button type="submit" class="btn btn-dark btn-lg base-common-text" id="reset-password-button"
                    name="submit-button"
                    value="resetpassword-button" disabled>Luo
                uusi salasana
            </button>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>

{% endblock %}